This Notebook contains all code related to Data Cleaning and Merges. Enjoy!

In [1]:
import pandas as pd

In [2]:
!pip install gapminder
from gapminder import gapminder as df_gapminder

Requirement already satisfied: gapminder in /usr/local/lib/python3.10/dist-packages (0.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from gapminder) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->gapminder) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->gapminder) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->gapminder) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->gapminder) (1.16.0)

In [3]:
df_gapminder.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [5]:
data_dir = "https://raw.githubusercontent.com/bellamccarty/data/main/"
df_goalscorers = pd.read_csv(data_dir + "goalscorers.csv")
df_shootouts = pd.read_csv(data_dir + "shootouts.csv")
df_results = pd.read_csv(data_dir + "results.csv")

In [17]:
df_goalscorers["country"] = df_goalscorers["team"]

In [18]:
df_shootouts["country"] = df_goalscorers['home_team']

In [8]:
df_results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [9]:
data_frames = [df_goalscorers, df_shootouts, df_results]
for df in data_frames:
  df['year'] = pd.DatetimeIndex(df['date']).year

In [19]:
df_goalscorers = df_goalscorers.merge(df_gapminder, on = ["country", "year"])
df_shootouts = df_shootouts.merge(df_gapminder, on = ["country", "year"])
df_results = df_results.merge(df_gapminder, on = ["country", "year"])

In [20]:
df_goalscorers.head()

,date,home_team,away_team,team,scorer,minute,own_goal,penalty,year,country,continent,lifeExp,pop,gdpPercap
0,1957-01-16,Portugal,Northern Ireland,Portugal,Manuel Vasques,24.0,False,False,1957,Portugal,Europe,61.510,8817650,3774.571743
1,1957-05-26,Portugal,Italy,Portugal,Manuel Vasques,41.0,False,False,1957,Portugal,Europe,61.510,8817650,3774.571743
2,1957-05-26,Portugal,Italy,Portugal,António Dias Teixeira,81.0,False,False,1957,Portugal,Europe,61.510,8817650,3774.571743
3,1957-05-26,Portugal,Italy,Portugal,Matateu,87.0,False,False,1957,Portugal,Europe,61.510,8817650,3774.571743
4,1957-02-10,Guatemala,Costa Rica,Costa Rica,Jorge Monge,11.0,False,False,1957,Costa Rica,Americas,60.026,1112300,2990.010802

In [21]:
df_shootouts.head()

,date,home_team,away_team,winner,year,country,continent,lifeExp,pop,gdpPercap
0,1967-08-22,India,Taiwan,Taiwan,1967,Chile,Americas,60.523,8858908,5106.654313
1,1972-05-07,South Korea,Iraq,Iraq,1972,Chile,Americas,63.441,9717524,5494.024437
2,1972-05-17,Thailand,South Korea,South Korea,1972,Chile,Americas,63.441,9717524,5494.024437
3,1972-05-19,Thailand,Cambodia,Thailand,1972,Argentina,Americas,67.065,24779799,9443.038526
4,1977-01-09,Tunisia,Morocco,Tunisia,1977,Argentina,Americas,68.481,26983828,10079.026740

In [22]:
df_results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,continent,lifeExp,pop,gdpPercap
0,1952-02-24,Belgium,Italy,2,0,Friendly,Brussels,Belgium,False,1952,Europe,68.000,8730405,8343.105127
1,1952-04-06,Belgium,Netherlands,4,2,Friendly,Antwerp,Belgium,False,1952,Europe,68.000,8730405,8343.105127
2,1952-05-22,Belgium,France,1,2,Friendly,Brussels,Belgium,False,1952,Europe,68.000,8730405,8343.105127
3,1952-10-19,Belgium,Netherlands,2,1,Friendly,Antwerp,Belgium,False,1952,Europe,68.000,8730405,8343.105127
4,1952-03-16,Chile,Panama,6,1,Pan American Championship,Santiago,Chile,False,1952,Americas,54.745,6377619,3939.978789