This Notebook contains all code related to Data Cleaning and Merges. Enjoy!

In [1]:
import pandas as pd

In [2]:
!pip install gapminder
from gapminder import gapminder as df_gapminder

Requirement already satisfied: gapminder in /usr/local/lib/python3.10/dist-packages (0.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from gapminder) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->gapminder) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->gapminder) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->gapminder) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->gapminder) (1.16.0)

In [3]:
#df_gapminder.rename(columns={'home_team': 'country'},inplace = True)
#df_gapminder = df_gapminder.drop('away_team', axis=1)
df_gapminder.head()
df_gapgdp = df_gapminder.copy()

In [4]:
data_dir = "https://raw.githubusercontent.com/bellamccarty/data/main/"
df_goalscorers = pd.read_csv(data_dir + "goalscorers.csv")
df_shootouts = pd.read_csv(data_dir + "shootouts.csv")
df_results = pd.read_csv(data_dir + "results.csv")
df_gapminder = df_gapminder.drop('continent',axis=1)
df_gapminderhome = df_gapminder.copy()
df_gapminderhome.rename(columns={'country': 'home_team'}, inplace=True)
df_gapminderaway = df_gapminderhome.copy()
df_gapminderaway.rename(columns={'home_team': 'away_team'},inplace=True)

In [5]:
df_gapminderteamone = df_gapminder.copy()
df_gapminderteamone.rename(columns={'country': 'team1'}, inplace=True)
df_gapminderteamtwo = df_gapminder.copy()
df_gapminderteamtwo.rename(columns={'country': 'team2'}, inplace=True)
df_gapminderhome.rename(columns={'lifeExp':'lifeExpHome','pop':'popHome','gdpPercap':'gdpPercapHome'},inplace=True)
df_gapminderteamone.rename(columns={'lifeExp':'lifeExpteam1','pop':'popteam1','gdpPercap':'gdpPercapteam1'},inplace=True)
df_gapminderaway.rename(columns={'lifeExp':'lifeExpAway','pop':'popAway','gdpPercap':'gdpPercapAway'},inplace=True)
df_gapminderteamtwo.rename(columns={'lifeExp':'lifeExpteam2','pop':'popteam2','gdpPercap':'gdpPercapteam2'},inplace=True)
df_gapminderteamtwo

            team2  year  lifeExpteam2  popteam2  gdpPercapteam2
0     Afghanistan  1952        28.801   8425333      779.445314
1     Afghanistan  1957        30.332   9240934      820.853030
2     Afghanistan  1962        31.997  10267083      853.100710
3     Afghanistan  1967        34.020  11537966      836.197138
4     Afghanistan  1972        36.088  13079460      739.981106
...           ...   ...           ...       ...             ...
1699     Zimbabwe  1987        62.351   9216418      706.157306
1700     Zimbabwe  1992        60.377  10704340      693.420786
1701     Zimbabwe  1997        46.809  11404948      792.449960
1702     Zimbabwe  2002        39.989  11926563      672.038623
1703     Zimbabwe  2007        43.487  12311143      469.709298

[1704 rows x 5 columns]

In [6]:
df_goalscorers["country"] = df_goalscorers["team"]

In [7]:
df_shootouts["country"] = df_goalscorers['home_team']

In [8]:
df_gapminderhome.head()
df_gapminderaway.head()

     away_team  year  lifeExpAway   popAway  gdpPercapAway
0  Afghanistan  1952       28.801   8425333     779.445314
1  Afghanistan  1957       30.332   9240934     820.853030
2  Afghanistan  1962       31.997  10267083     853.100710
3  Afghanistan  1967       34.020  11537966     836.197138
4  Afghanistan  1972       36.088  13079460     739.981106

In [9]:
data_frames = [df_goalscorers, df_shootouts, df_results]
for df in data_frames:
  df['year'] = pd.DatetimeIndex(df['date']).year

In [10]:
df_results = df_results.drop('date',axis=1)
df_goalscorers = df_goalscorers.drop('date',axis=1)
df_shootouts = df_shootouts.drop('date',axis=1)

In [11]:
df_results

,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
0,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872
1,England,Scotland,4,2,Friendly,London,England,False,1873
2,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874
3,England,Scotland,2,2,Friendly,London,England,False,1875
4,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876
...,...,...,...,...,...,...,...,...,...
44686,Hungary,Lithuania,2,0,UEFA Euro qualification,Budapest,Hungary,False,2023
44687,Bulgaria,Serbia,1,1,UEFA Euro qualification,Razgrad,Bulgaria,False,2023
44688,Iceland,Portugal,0,1,UEFA Euro qualification,Reykjavík,Iceland,False,2023
44689,Bosnia and Herzegovina,Luxembourg,0,2,UEFA Euro qualification,Zenica,Bosnia and Herzegovina,False,2023
44690,Liechtenstein,Slovakia,0,1,UEFA Euro qualification,Vaduz,Liechtenstein,False,2023

In [12]:
#df_goalscorers = df_goalscorers.merge(df_gapminder, on = ["country", "year"])
#df_shootouts = df_shootouts.merge(df_gapminder, on = ["country", "year"])
df_host = df_results.copy()
df_results = df_results.merge(df_gapminderhome, on = ["home_team", "year"])

In [13]:
df_results = df_results.merge(df_gapminderaway,on=['away_team',"year"])

In [14]:
df_host

,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
0,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872
1,England,Scotland,4,2,Friendly,London,England,False,1873
2,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874
3,England,Scotland,2,2,Friendly,London,England,False,1875
4,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876
...,...,...,...,...,...,...,...,...,...
44686,Hungary,Lithuania,2,0,UEFA Euro qualification,Budapest,Hungary,False,2023
44687,Bulgaria,Serbia,1,1,UEFA Euro qualification,Razgrad,Bulgaria,False,2023
44688,Iceland,Portugal,0,1,UEFA Euro qualification,Reykjavík,Iceland,False,2023
44689,Bosnia and Herzegovina,Luxembourg,0,2,UEFA Euro qualification,Zenica,Bosnia and Herzegovina,False,2023
44690,Liechtenstein,Slovakia,0,1,UEFA Euro qualification,Vaduz,Liechtenstein,False,2023

In [15]:
#data_frames = {"df_goalscorers": df_goalscorers, "df_shootouts": df_shootouts, "df_results": df_results}
#from google.colab import files

#for name, df in data_frames.items():
#    df.to_csv(f"{name}.csv")
#    files.download(f"{name}.csv")

In [16]:
df_results['winner'] = (df_results['home_score'] > df_results['away_score']).astype(int)
df_results['htlifeExpAdv'] = (df_results['lifeExpHome'] > df_results["lifeExpAway"]).astype(int)
df_results['htpopAdv'] = (df_results['popHome'] > df_results["popAway"]).astype(int)
df_results['htgdpPercapAdv'] = (df_results['gdpPercapHome'] > df_results['gdpPercapAway']).astype(int)
df_results = df_results.drop('lifeExpHome',axis=1)
df_results = df_results.drop('lifeExpAway',axis=1)
df_results = df_results.drop('popHome',axis=1)
df_results = df_results.drop('popAway',axis=1)
df_results = df_results.drop('gdpPercapHome',axis=1)
df_results = df_results.drop('gdpPercapAway',axis=1)
df_gdp = df_results.copy()
df_results

,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year,winner,htlifeExpAdv,htpopAdv,htgdpPercapAdv
0,Belgium,Italy,2,0,Friendly,Brussels,Belgium,False,1952,1,1,0,1
1,Sweden,Italy,1,1,Friendly,Solna,Sweden,False,1952,0,1,0,1
2,Belgium,Netherlands,4,2,Friendly,Antwerp,Belgium,False,1952,1,0,0,0
3,Belgium,Netherlands,2,1,Friendly,Antwerp,Belgium,False,1952,1,0,0,0
4,Denmark,Netherlands,3,2,Friendly,Copenhagen,Denmark,False,1952,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3121,India,Lebanon,2,2,FIFA World Cup qualification,Margao,India,False,2007,0,0,1,0
3122,Lebanon,India,4,1,FIFA World Cup qualification,Sidon,Lebanon,False,2007,1,1,0,1
3123,Syria,Afghanistan,3,0,FIFA World Cup qualification,Damascus,Syria,False,2007,1,1,0,1
3124,Iraq,Pakistan,0,0,FIFA World Cup qualification,Damascus,Syria,True,2007,0,0,0,1
3125,Comoros,Madagascar,0,4,FIFA World Cup qualification,Moroni,Comoros,False,2007,0,1,0,0

In [17]:
wins = df_results['winner']
df_results = df_results.drop('winner',axis=1)
df_results = df_results.drop('tournament',axis=1)
df_results = df_results.drop('city',axis=1)
df_results = df_results.drop('neutral',axis=1)
df_results = df_results.drop('year',axis=1)
df_results = df_results.drop('home_score',axis=1)
df_results = df_results.drop('away_score',axis=1)
df_results

     home_team    away_team  country  htlifeExpAdv  htpopAdv  htgdpPercapAdv
0      Belgium        Italy  Belgium             1         0               1
1       Sweden        Italy   Sweden             1         0               1
2      Belgium  Netherlands  Belgium             0         0               0
3      Belgium  Netherlands  Belgium             0         0               0
4      Denmark  Netherlands  Denmark             0         0               1
...        ...          ...      ...           ...       ...             ...
3121     India      Lebanon    India             0         1               0
3122   Lebanon        India  Lebanon             1         0               1
3123     Syria  Afghanistan    Syria             1         0               1
3124      Iraq     Pakistan    Syria             0         0               1
3125   Comoros   Madagascar  Comoros             1         0               0

[3126 rows x 6 columns]

In [18]:
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
import random
import numpy as np

In [19]:
def entropy(y):
    e = None
    value_counts = y.value_counts()
    proportions = value_counts / len(y)
    e = np.sum((-1*proportions * np.log2(proportions)))
    return e

def gain(y,x):
    weighted_entropies = x.groupby(x).apply(lambda x_group: entropy(y[x_group.index]) * len(x_group) / len(x))
    weighted_average_entropy_x = weighted_entropies.sum()

    return entropy(y) - weighted_average_entropy_x


def gain_ratio(y,x):
    g = gain(y,x)
    if entropy(y) == 0:
        return 0
    return g/entropy(y)

def select_split(X,y):
    col = None
    gr = 0.0
    maxg = 0.0

    for c in X.columns:
        if y.name == c:
            continue
        en = entropy(X[c])
        tg = gain(y, X[c])
        tgr = gain_ratio(y, X[c])
        if maxg < tg:
            maxg = tg
            gr = tgr
            col = c

    if maxg == 0.0:
        return None, y.mode().iloc[0]

    return col, gr

def make_tree(X, y):
    tree = {}
    col, gr = select_split(X, y)

    if col is None:
        if(len(y.mode()) > 1):
            return y.iloc[0]
        return y.mode().iloc[0]

    tree[col] = {}

    for value in X[col].unique():

        X_subset = X[X[col] == value].drop(columns=col)
        y_subset = y[X[col] == value]
        tree[col][value] = make_tree(X_subset, y_subset)

    return tree

def make_prediction(tree, X_test):
    predictions = []

    for _, row in X_test.iterrows():
        node = tree

        # Traverse the decision tree until we reach a leaf node
        while isinstance(node, dict):
            feature = next(iter(node))
            value = row[feature]

            if value not in node[feature]:
                # If the feature value is not present in the decision tree, return a default prediction (e.g., 0.0)
                predictions.append(0.0)
                break

            node = node[feature][value]

        # If the current node is a leaf node, add its prediction to the list
        if not isinstance(node, dict):
            predictions.append(node)

    return np.array(predictions)

In [20]:
df_results['htAdv'] = (df_results['home_team'] == df_results['country']).astype(int)
df_results

,home_team,away_team,country,htlifeExpAdv,htpopAdv,htgdpPercapAdv,htAdv
0,Belgium,Italy,Belgium,1,0,1,1
1,Sweden,Italy,Sweden,1,0,1,1
2,Belgium,Netherlands,Belgium,0,0,0,1
3,Belgium,Netherlands,Belgium,0,0,0,1
4,Denmark,Netherlands,Denmark,0,0,1,1
...,...,...,...,...,...,...,...
3121,India,Lebanon,India,0,1,0,1
3122,Lebanon,India,Lebanon,1,0,1,1
3123,Syria,Afghanistan,Syria,1,0,1,1
3124,Iraq,Pakistan,Syria,0,0,1,0
3125,Comoros,Madagascar,Comoros,1,0,0,1

In [21]:
df_results = df_results.drop('country',axis=1)
df_results

     home_team    away_team  htlifeExpAdv  htpopAdv  htgdpPercapAdv  htAdv
0      Belgium        Italy             1         0               1      1
1       Sweden        Italy             1         0               1      1
2      Belgium  Netherlands             0         0               0      1
3      Belgium  Netherlands             0         0               0      1
4      Denmark  Netherlands             0         0               1      1
...        ...          ...           ...       ...             ...    ...
3121     India      Lebanon             0         1               0      1
3122   Lebanon        India             1         0               1      1
3123     Syria  Afghanistan             1         0               1      1
3124      Iraq     Pakistan             0         0               1      0
3125   Comoros   Madagascar             1         0               0      1

[3126 rows x 6 columns]

In [22]:
def get_learner(X,y,max_depth=10):
    return DecisionTreeClassifier(max_depth=max_depth).fit(X,y)

In [23]:
def resample(X,t):
    assert len(X) == len(t)
    indexes = []
    for i in range(len(X)):
        ix_choice = random.choice(X.index)
        indexes.append(ix_choice)
    return X.copy().loc[indexes],t.copy().loc[indexes]

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
def make_trees(X,y,ntrees=2,max_depth=10):
    trees = []
    for i in range(ntrees):
        X_train_sample, y_train_sample = resample(X, y)
        t = get_learner(X_train_sample,y_train_sample)
        trees.append(t)
    return trees

In [26]:
X = df_results
X= X.drop('home_team',axis=1)
X = X.drop('away_team',axis=1)

In [27]:
learner = get_learner(X,wins)
y = pd.Series(learner.predict(X))
ntrials = 25
accuracies = []
my_accuracy = []
for trial in range(ntrials):
  X_train, X_test, t_train, t_test = train_test_split(X, wins, test_size=0.25, random_state=trial)
  tree = make_tree(X_train, t_train)
  prediction = make_prediction(tree, X_test)
  my_acc = np.mean(t_test == prediction)
  print(f'Trial {trial + 1} my Accuracy: {my_acc}')
  my_accuracy.append(my_acc)



  learner = get_learner(X_train, t_train)  # Fit the learner on the training data
  pred = learner.predict(X_test)  # Make predictions on the test data
  accuracy = np.mean(t_test == pred)
  print(f'Trial {trial + 1} Accuracy: {accuracy}')
  accuracies.append(accuracy)
print(f'{np.mean(accuracies)} My Implementation: {np.mean(my_accuracy)}')

Trial 1 my Accuracy: 0.5741687979539642
Trial 1 Accuracy: 0.5741687979539642
Trial 2 my Accuracy: 0.571611253196931
Trial 2 Accuracy: 0.571611253196931
Trial 3 my Accuracy: 0.5754475703324808
Trial 3 Accuracy: 0.5754475703324808
Trial 4 my Accuracy: 0.5997442455242967
Trial 4 Accuracy: 0.5997442455242967
Trial 5 my Accuracy: 0.5754475703324808
Trial 5 Accuracy: 0.5831202046035806
Trial 6 my Accuracy: 0.5895140664961637
Trial 6 Accuracy: 0.592071611253197
Trial 7 my Accuracy: 0.5562659846547314
Trial 7 Accuracy: 0.5562659846547314
Trial 8 my Accuracy: 0.5792838874680307
Trial 8 Accuracy: 0.5792838874680307
Trial 9 my Accuracy: 0.5946291560102301
Trial 9 Accuracy: 0.5946291560102301
Trial 10 my Accuracy: 0.5652173913043478
Trial 10 Accuracy: 0.5652173913043478
Trial 11 my Accuracy: 0.5562659846547314
Trial 11 Accuracy: 0.5562659846547314
Trial 12 my Accuracy: 0.5664961636828645
Trial 12 Accuracy: 0.5664961636828645
Trial 13 my Accuracy: 0.5856777493606138
Trial 13 Accuracy: 0.5856777493606138
Trial 14 my Accuracy: 0.5869565217391305
Trial 14 Accuracy: 0.5869565217391305
Trial 15 my Accuracy: 0.5690537084398977
Trial 15 Accuracy: 0.571611253196931
Trial 16 my Accuracy: 0.5767263427109974
Trial 16 Accuracy: 0.571611253196931
Trial 17 my Accuracy: 0.578005115089514
Trial 17 Accuracy: 0.578005115089514
Trial 18 my Accuracy: 0.5575447570332481
Trial 18 Accuracy: 0.5575447570332481
Trial 19 my Accuracy: 0.5882352941176471
Trial 19 Accuracy: 0.5882352941176471
Trial 20 my Accuracy: 0.5728900255754475
Trial 20 Accuracy: 0.5677749360613811
Trial 21 my Accuracy: 0.5690537084398977
Trial 21 Accuracy: 0.5690537084398977
Trial 22 my Accuracy: 0.5601023017902813
Trial 22 Accuracy: 0.5601023017902813
Trial 23 my Accuracy: 0.5728900255754475
Trial 23 Accuracy: 0.5728900255754475
Trial 24 my Accuracy: 0.5626598465473146
Trial 24 Accuracy: 0.5626598465473146
Trial 25 my Accuracy: 0.5575447570332481
Trial 25 Accuracy: 0.5575447570332481
0.5737595907928389 My Implementation: 0.5736572890025576

In [28]:
df_host

,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
0,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872
1,England,Scotland,4,2,Friendly,London,England,False,1873
2,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874
3,England,Scotland,2,2,Friendly,London,England,False,1875
4,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876
...,...,...,...,...,...,...,...,...,...
44686,Hungary,Lithuania,2,0,UEFA Euro qualification,Budapest,Hungary,False,2023
44687,Bulgaria,Serbia,1,1,UEFA Euro qualification,Razgrad,Bulgaria,False,2023
44688,Iceland,Portugal,0,1,UEFA Euro qualification,Reykjavík,Iceland,False,2023
44689,Bosnia and Herzegovina,Luxembourg,0,2,UEFA Euro qualification,Zenica,Bosnia and Herzegovina,False,2023
44690,Liechtenstein,Slovakia,0,1,UEFA Euro qualification,Vaduz,Liechtenstein,False,2023

In [29]:
df_host = df_host.drop('home_score', axis=1)
df_host = df_host.drop('away_score', axis=1)
df_host = df_host.drop('tournament', axis=1)
df_host = df_host.drop('city', axis=1)
df_host = df_host.drop('neutral', axis=1)

In [30]:


team1_list = []
team2_list = []

# Iterate through the length of the DataFrame
for idx in range(len(df_host)):
    # Randomly choose either 'home_team' or 'away_team' for each row
    team1 = np.random.choice([df_host['home_team'].iloc[idx], df_host['away_team'].iloc[idx]])
    team2 = df_host['away_team'].iloc[idx] if team1 == df_host['home_team'].iloc[idx] else df_host['home_team'].iloc[idx]

    # Append selected teams to the lists
    team1_list.append(team1)
    team2_list.append(team2)

# Add 'team1' and 'team2' lists as new columns to the DataFrame
df_host['team1'] = team1_list
df_host['team2'] = team2_list

# Drop the original 'home_team' and 'away_team' columns if needed
df_host.drop(columns=['home_team', 'away_team'], inplace=True)

In [31]:
df_host = df_host.merge(df_gapminderteamone, on = ["team1","year"])
df_host = df_host.merge(df_gapminderteamtwo, on = ["team2","year"])

In [32]:
df_host = df_host.drop("year",axis=1)

In [33]:
df_host

,country,team1,team2,lifeExpteam1,popteam1,gdpPercapteam1,lifeExpteam2,popteam2,gdpPercapteam2
0,Belgium,Belgium,Italy,68.000,8730405,8343.105127,65.940,47666000,4931.404155
1,Belgium,Belgium,Netherlands,68.000,8730405,8343.105127,72.130,10381988,8941.571858
2,Netherlands,Sweden,Netherlands,71.860,7124673,8527.844662,72.130,10381988,8941.571858
3,Denmark,Denmark,Netherlands,70.780,4334000,9692.385245,72.130,10381988,8941.571858
4,Netherlands,Egypt,Netherlands,41.893,22223309,1418.822445,72.130,10381988,8941.571858
...,...,...,...,...,...,...,...,...,...
3121,Tajikistan,Syria,Afghanistan,74.143,19314747,4184.548089,43.828,31889923,974.580338
3122,Madagascar,Gabon,Madagascar,56.735,1454867,13206.484520,59.443,19167654,1044.770126
3123,Madagascar,Comoros,Madagascar,65.152,710960,986.147879,59.443,19167654,1044.770126
3124,India,Bangladesh,Cambodia,64.062,150448339,1391.253792,59.723,14131858,1713.778686
3125,Djibouti,Somalia,Djibouti,48.159,9118773,926.141068,54.791,496374,2082.481567

In [34]:
df_host['onelifeExpAdv'] = (df_host['lifeExpteam1'] > df_host["lifeExpteam2"]).astype(int)
df_host['onepopAdv'] = (df_host['popteam1'] > df_host["popteam2"]).astype(int)
df_host['onegdpPercapAdv'] = (df_host['gdpPercapteam1'] > df_host['gdpPercapteam2']).astype(int)
df_host = df_host.drop('lifeExpteam1',axis=1)
df_host = df_host.drop('lifeExpteam2',axis=1)
df_host = df_host.drop('popteam1',axis=1)
df_host = df_host.drop('popteam2',axis=1)
df_host = df_host.drop('gdpPercapteam1',axis=1)
df_host = df_host.drop('gdpPercapteam2',axis=1)
mask = (df_host['country'] == df_host['team1']) | (df_host['country'] == df_host['team2'])
df_host = df_host[mask]
hostOne = df_host['country'].eq(df_host['team1']).astype(int)
df_host = df_host.drop('country',axis=1)
df_host = df_host.drop('team1', axis=1)
df_host = df_host.drop('team2',axis=1)

In [44]:
X2 = df_host
learner = get_learner(X2,hostOne)
y = pd.Series(learner.predict(X2))
ntrials = 100
accuracies = []
for trial in range(ntrials):
  X_train, X_test, t_train, t_test = train_test_split(X2, hostOne, test_size=0.25, random_state=trial)
  tree = make_tree(X_train, t_train)
  prediction = make_prediction(tree, X_test)
  my_acc = np.mean(t_test == prediction)
  #print(f'Trial {trial + 1} my Accuracy: {my_acc}')
  my_accuracy.append(my_acc)


  learner = get_learner(X_train, t_train)  # Fit the learner on the training data
  pred = learner.predict(X_test)  # Make predictions on the test data
  accuracy = np.mean(t_test == pred)
  #print(f'Trial {trial + 1} Accuracy: {accuracy}')
  accuracies.append(accuracy)
print(np.mean(accuracies))
print(f'{np.mean(accuracies)} My Implementation: {np.mean(my_accuracy)}')

0.5057758620689654
0.5057758620689654 My Implementation: 0.5104453334829911

In [36]:
def get_learner_regression(X,y,max_depth=10):
    return DecisionTreeRegressor(max_depth=max_depth).fit(X,y)

In [37]:
team_stats= {}
for idx, row in df_gdp.iterrows():
    home_team = row['home_team']
    away_team = row['away_team']
    winner = row['winner']
    home_score = row['home_score']
    away_score = row['away_score']

    # Update home team stats
    if home_team not in team_stats:
        team_stats[home_team] = {'wins': 0, 'total_games': 0,'point_diff': 0}

    team_stats[home_team]['total_games'] += 1
    team_stats[home_team]['wins'] += winner
    team_stats[home_team]['point_diff'] += home_score - away_score

    # Update away team stats
    if away_team not in team_stats:
        team_stats[away_team] = {'wins': 0, 'total_games': 0,'point_diff': 0}

    team_stats[away_team]['total_games'] += 1
    team_stats[away_team]['wins'] += (1 - winner)
    team_stats[away_team]['point_diff'] += away_score - home_score
#team_stats

df_gdpct = pd.DataFrame.from_dict(team_stats, orient='index')
df_gdpct.reset_index(inplace=True)
df_gdpct.columns = ['country', 'wins', 'total_games', 'point_diff']
df_gdpct['win_loss_ratio'] = df_gdpct['wins'] / df_gdpct['total_games']

In [38]:
df_gapgdp = df_gapgdp.drop('continent',axis=1)
#Predicting gdp based on win/loss ratio and total point differential in 2007
df_gapgdp['year'] = pd.to_numeric(df_gapgdp['year'])

# Group the DataFrame by 'country' and filter rows where 'year' is not equal to the maximum year for each country
df_gapgdp = df_gapgdp[df_gapgdp.groupby('country')['year'].transform('max') == df_gapgdp['year']]
df_gapgdp.reset_index(drop=True, inplace=True)
df_gapgdp = df_gapgdp.drop('lifeExp',axis=1)
df_gapgdp = df_gapgdp.drop('pop',axis=1)
df_gapgdp = df_gapgdp.drop('year',axis=1)

df_gdpct = df_gdpct.drop('wins',axis=1)
df_gdpct = df_gdpct.drop('total_games',axis=1)

In [39]:
df_gdpmerge = df_gdpct.merge(df_gapgdp, on = ['country'])
df_gdpmerge
gdpPerCt = df_gdpmerge['gdpPercap']
df_gdpmerge= df_gdpmerge.drop('gdpPercap',axis=1)
df_gdpmerge
df_gdpmerge = df_gdpmerge.drop('country',axis=1)

In [40]:
df_gdpmerge

     point_diff  win_loss_ratio
0             3        0.542857
1            37        0.611940
2            37        0.587629
3            32        0.500000
4            46        0.578947
..          ...             ...
121          -4        0.571429
122         -26        0.347826
123          -3        0.200000
124         -16        0.250000
125          -8        0.000000

[126 rows x 2 columns]

In [48]:
X3 = df_gdpmerge
learner = get_learner_regression(X3,gdpPerCt)
y = pd.Series(learner.predict(X3))
ntrials = 50
RMSEs = []
my_RMSEs = []
average_gdp = []
for trial in range(ntrials):
  X_train, X_test, t_train, t_test = train_test_split(X3, gdpPerCt, test_size=0.25, random_state=trial)
  tree = make_tree(X_train, t_train)
  prediction = make_prediction(tree, X_test)
  #print(f'Trial {trial + 1} my RMSEs: {np.sqrt(((prediction-t_test)**2).sum()/len(t_test))}')
  my_RMSEs.append(np.sqrt(((prediction-t_test)**2).sum()/len(t_test)))
  average_gdp.append(np.mean(t_test))
  learner = get_learner_regression(X_train, t_train)  # Fit the learner on the training data
  y = learner.predict(X_test)  # Make predictions on the test data
  RMSEs.append(np.sqrt(((y-t_test)**2).sum()/len(t_test)))
  #print(f'Trial {trial + 1} RMSEs: {np.sqrt(((prediction-t_test)**2).sum()/len(t_test))}')
print(f'Scikits RMSE mean: {np.mean(RMSEs)} My RMSE mean: {np.mean(gdpPerCt)}')
print(np.mean(average_gdp))

Scikits RMSE mean: 16247.453467019071 My RMSE mean: 11656.734425992066
11357.005227145188

In [47]:
print(np.mean(t_test))

10892.639899175